.yuho-flying-back-to-bottom-right {

    transform: translate(0, 0) scaleX(-1);
    transition: transform 7500ms ease-in-out, scale 1000ms ease-in-out;
    scale: 1;
}

.yuho-flying-top-left {
    transform: translate(-1000%, -1000%) scaleX(-1);
    transition: transform 1000ms ease-in-out, scale 750ms ease-in-out;
    scale: 10;
}

.yuho-normal-bottom-left {
    transform: translate(0, 0) scaleX(1);
    transition: transform 1000ms ease-in-out, scale 1000ms ease-in-out;
    scale: 1;
}